{
  "mongodb": {
    "uri": "mongodb://localhost:27017",
    "dbName": "betfair_nlp_local"
  },
  "app": {
    "environment": "local"
  },
  "logging": {
    "level": "debug",
    "enableConsole": true
  }
}
