{
  "mongodb": {
    "uri": "mongodb://localhost:27019",
    "dbName": "betfair_nlp_local"
  },
  "app": {
    "environment": "local"
  },
  "logging": {
    "level": "debug",
    "enableConsole": true
  },
  "jwt": {
    "secret": "your-jwt-secret-here"
  },
  "auth": {
    "username": "matthew",
    "password": "your-password-here"
  }
}
